h1 {
	text-align: center;
}
.employee-form {
	border: 1px solid green;
	width: 50%;
	padding: 10px;
	margin: auto;
}

.employees-table {
	border: 1px solid green;
	width: 70%;
	padding: 10px;
	margin: auto;
}

input[type=text], input[type=number] {
	width: 100%;
	padding: 8px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=submit] {
	width: 25%;
	padding: 10px 18px;
	margin: 0px 0;
	background-color: black;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

label.validation-error {
	color: red;
	margin-left: 5px;
}

form div.form-action-buttons {
	text-align: right;
}

table {
	border-collapse: collapse;
}

table.list {
	width: 100%;
}

th, td {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(odd), table.list table > tr {
	background-color: #dddddd;
}

a {
	cursor: pointer;
	text-decoration: underline;
	color: #0000ee;
	margin-right: 4px;
}

.hide {
	display: none;
}